{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <input type='url' id='urlinput'>
        <button onclick='shorturl()'>
            Short The URL
        </button>

    </div>
{% endblock %}