{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <input style="width: 500px" type='url' id='urlinput' value="/api/lista-compra/2021/noviembre/primera-semana/mercadona">
        <button onclick='shorturl()'>
            Short The URL
        </button>

    </div>
    <br>
    <br>
    <div>
        <a href="admin">Gestor URLs</a>
        <br>
        <span>user: test@irontec.eus</span>
        <span>password: admin</span>

    </div>
    <br>
    <br>
    <div>
        <a href="api/ranking">Ranking Visitas</a>
    </div>
    <br>
    <br>

    {# AQUÍ VAMOS A PINTAR LAS URLS QUE HEMOS IDO CREANDO PARA PODER ACCEDER A ELLAS Y COMPROBAR SI FUNCIONAN DESDE LA PROPIA PÁGINA DE INICIO #}
    {% set urls = UrlsFinder.getUrls %}
    <div>
        <h3>URLs creadas:</h3>
    </div>
    {% for value in urls %}
        <div>
                <a href="{{ value }}">{{ value }}</a>
        </div>
    {% endfor %}
    {# AÑADIMOS LÓGICA JAVASCRIPT PARA OBTENER UNA URL RANDOM ACORTADA#}
    <script>

        {#  AQUÍ OBTENEMOS UN NÚMERO RANDOM Y LO PASAMOS A STRING #}
        function getrandom(){
            return random_string = Math.random().toString(32).substring(2, 5) + Math.random().toString(32).substring(2, 5);
        }

        {# RECOGEMOS EL VALOR DEL INPUT #}
        function geturl(){
            return document.getElementById('urlinput').value;
        }

        {# HACEMOS UNA PETICIÓN POST A LA RUTA QUE ALBERGA EL CONTROLLER ENCARGADO DE GUARDAR LAS URLS #}

        function send_request(longurl, shortUrl) {

            $.ajax({
                    url: 'api/set_url',
                    method: "POST",
                    data: {
                        longUrl: longurl,
                        shortUrl: shortUrl
                    },
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                        alert("error");
                    },
                }
            )
        }

        {# LA FUNCIÓN QUE LLAMAMOS AL CLICAR EL BOTÓN Y QUE RECOGE LAS ANTERIORES #}
        function shorturl(){
            var longurl = geturl();
            var shortUrl = getrandom();
            send_request(longurl, shortUrl);
        }

    </script>
{% endblock %}