{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {{ value }}
    </div>
    <br>
    <br>
    <div>
        <a href="../api">Volver</a>
    </div>
    <script>

    </script>
{% endblock %}