{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/welcome.html.twig' %}

{% block page_title 'Inicio' %}

{% block page_actions %}


{% endblock %}

{% block page_content %}

    <div  class="col-12 d-flex flex-row justify-content-center">
        <h1>Bienvenidos al Gestor de URLS</h1>
    </div>

{% endblock %}
